<head>
  <meta charset="UTF-8">
  <title>Potluck Party</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around min-100-vh">
    <header class="flex-column">
      <nav class="display-flex justify-space-between align-center p-2">
        <a href="">Home</a>
        <a href="">Dashboard</a>
        <a href="">Login</a>
        <a href="">Logout </a>
      </nav>
      <h1 class="p-2">The Tech Blog</h1>
    </header>
      <main class="container container-fluid mt-5 flex-grow-1">
        {{{ body }}}
      </main>
      <footer>
        <p>By Edgar Martinez</p>
      </footer>
  </div>
  </body>

</html>